# Opacity
snippet +br
	+border-radius(${1}px)
snippet +o
	+opacity(.${1})
snippet +o1
	+opacity(1)
#

# Box shadow
snippet +bs
	+box-shadow(${1})
snippet +bsi
	+box-shadow(${1} inset)
#

# Text-shadow
snippet +ts
	+text-shadow(${1} ${2:0 1px 0})
#

# RGB(A)
snippet ra
	rgba(${1}, ${2}, ${3}, .${5})
snippet rab
	rgba(0, 0, 0, ${1})
snippet raw
	rgba(255, 255, 255, .${1})
