# Display
snippet dn
	display: none
snippet db
	display: block
snippet di
	display: inline
snippet dib
	display: inline-block
#

# Position
snippet por
	position: relative
snippet poa
	position: absolute
#

# Positioning
snippet t
	top: ${1}px
snippet r
	right: ${1}px
snippet b
	bottom: ${1}px
snippet l
	left: ${1}px
snippet t0
	top: 0
snippet r0
	right: 0
snippet b0
	bottom: 0
snippet l0
	left: 0
#
