snippet bg
background $0
endsnippet

snippet df
display flex
endsnippet

snippet fb
flex-basis $0
endsnippet

snippet fd
flex-direction $0
endsnippet

snippet fdc
flex-direction column
endsnippet

snippet fg
flex-grow $0
endsnippet

snippet flw
flex-wrap $0
endsnippet

snippet flww
flex-wrap wrap
endsnippet
